@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito{
  font-family: "Nunito", sans-serif;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}
.quicksand{
  font-family: "Quicksand", sans-serif;
}
.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
}
::-webkit-scrollbar {
    margin: 10px 0; /* Margin from top and bottom */
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    margin: 30px ;/* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2d2e35; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  